www.yourdomain.com:80 {
    handle_path /index/* {
        root * /var/www/prefix1
        file_server
    }
    log {
        output file /usr/src/caddy.log
    }
}
www.yourdomain.com:443 {
    handle_path /index/* {
        root * /var/www/prefix1
        file_server
    }
    log {
        output file /usr/src/caddy.log
    }
}
