${your.domain.com} {
    root * /var/www/html
    file_server
    reverse_proxy /ray http://127.0.0.1:10001 {
        websocket
        header_upstream -Origin
    }
    log {
        output file /usr/src/caddy.log
    }
}

